  .ourclient {
   padding-top: 94px;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
  
  &__logo {
    list-style: none;
    display: flex;
    gap: 30px;
  }

  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--notblack);
    margin: 0;
    padding-bottom: 50px;
  }
  
  &__container {
    padding-bottom: 94px;
  }
  
  &__icon {
    border: 1px solid var(--iconcolor);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--iconcolor);
  }
}
  
  .ourclient__icon:hover {
    fill: var(--blue);
    border: 1px solid var(--blue);
    cursor: pointer;
    background-color: var(--white);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }