.header {
    width: 100%;
    border-bottom: 1px solid #ececec;
    margin: 0 auto;
    align-content: center;
    
}
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--grey);
    background-color: var(--white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
  }
  
   
  
  .text--secondary:hover,
  .text--secondary:focus {
    color: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .text--secondary {
    color: var(--blue);
  }
  
  .active--link::after {
    content: "";
    position: absolute;
    transform: translateY(29px);
    display: block;
    width: 53px;
    height: 4px;
    left: 0px;
    background: #2196f3;
    border-radius: 2px;
  }
  
  .text--no-underline {
    text-decoration: none;
  }
  
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}